streamlit
ultralytics
opencv-python-headless==4.10.0.84
numpy==2.2.6
pandas
Pillow
plotly
requests
gdown==5.2.0
psutil
tqdm
pyyaml
matplotlib
seaborn
filterpy
easyocr
fpdf2
openpyxl
torch
torchvision
