streamlit
ultralytics
opencv-python-headless
numpy
pandas
Pillow
torch
torchvision
easyocr
deep-sort-realtime
plotly
fastapi
uvicorn
fpdf2
openpyxl
requests
scipy
filterpy
pyyaml
matplotlib
seaborn
python-dotenv
lap
scikit-image
scikit-learn
tqdm
psutil
py-cpuinfo
huggingface_hub
gitpython
pyserial
sqlite-utils
gdown