streamlit==1.35.0
ultralytics==8.2.0
opencv-python-headless==4.9.0.80
numpy==1.26.0
pandas==2.2.2
Pillow==10.2.0
torch
torchvision
easyocr
plotly
fpdf2
openpyxl
requests
scipy
filterpy
pyyaml
matplotlib
seaborn
python-dotenv
gdown
tqdm
psutil
